.button {
	background: Green; 
	border-radius: 12px;  
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	float: center;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
}
table, td {
    border: 5px solid black;
}

td{
    width:100px;
    height:100px;
    text-align:center;
    background-color: blue;
}

@media(max-width:100px){
	 .hidden-xs {
		 display: none !important;
	 }
}

@media(max-width:100px){
	 .visible-xs {
		 display: block !important;
	 }
}
